
.navbar
{
  background: crimson;
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv{
  display: flex;align-items:
   center;justify-content: space-between;
}
.logo a{
  font-size: 35px;font-weight: 
  600;color: black;
}
li{
  list-style: none;display: 
  inline-block;
}
li a{
  color: black;font-size: 
  18px;font-weight:
   bold;margin-right: 25px;
} 
button{
  background-color: black;margin-left:
   10px;border-radius: 
   10px;padding:
    10px;width: 90px;
}
button a{
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
}


body{
background-color: aliceblue;
}
.agent1{
    display: flex;
    margin-left:10px;
    margin-right: 10px;
}


  .contact_btn {
    text-decoration: none;
    transition: 0.3s;
  }

  .about_btn {
    text-decoration: none;
    transition: 0.3s;
  }

  .home_btn {
    text-decoration: none;
    transition: 0.3s;
  }


@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}